@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;1,300;1,400&family=Montserrat:ital@1&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: #e6f3e8;
  font-family: 'Share Tech Mono', monospace;
  color: #4a4e69;
  font-size: 20px;
}

h1, h2, h3 {
  font-family: 'Share Tech Mono', monospace;

}

a {
  color: #22223b;
  text-decoration: 'Silkscreen', cursive;
}

a:hover {
  background-color: #f2e9e4;
}

.card-white {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 5px;
  text-align: center;
  margin: 40px auto;
}

div {
  display: block;
}

.grn-botton {
background-color: #40916c;
color: white;
line-height: 5px;
text-decoration: none;
display: inline-block;
padding: 15px 20px;
border-radius: 4px;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.rmv-bullet {
  list-style-type: none;
  padding-left: 0px;
}

.rmv-bullet li {
  display: inline;
  padding: 10px;
  color: #40916c;
}

.rmv-bullet i {
  color: #40916c;
  font-size: 35px;
}

.rnd-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
